@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

body {
  background-image: url("https://cdn.glitch.global/cd61a145-f139-4995-be5c-5053762ceb3b/Simple%20Shiny.svg?v=1652827854317");
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  top: 0;
  margin: 0px;
  position: sticky;
  width: 100%;
  height: 20%;
  /*overflow: hidden;*/
  color: black;
  background: #f8dc4d;
  box-shadow: 4px 7px 5px 0px rgba(62, 66, 66, 0.21);
  backdrop-filter: blur(30px);
}
nav ul {
  display: flex;
  justify-content: space-around;

}

li {
  align-items: center;
  padding: 0.3rem 2rem 0.3rem 2rem;
  list-style: none;
}
p {
  text-align: center;
}

section {
  align-items: center;
  justify-content: center;
}

#box1 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  border: solid green 5px;
  margin: 9em 0 0 0;

  
}
#box2 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vh;
  flex-wrap: wrap;
  align-content: center;
}
#box3{

background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100vh;
flex-wrap: wrap;
align-content: center;
}
h1 {
  font-family: "Chela One", cursive;
  font-size: 2em;
  text-align: center;
}
h2 {
  font-family: "Montserrat", serif;
  font-size: 1, 2 em;
  text-align: center;
}
.texto1 {
  font-size: 1.75em;
  text-align: justify;
  justify-content: center;
  color: white;
}
#contenedor1 {
  display: flex;
  align-content: center;
  border: solid white 5px;
  width: 100vh;
  height: 100vh;
}
#contenedor2 {
  display: flex;
  align-content: center;
  margin:0 0 0 19em;
  height: 50%;
  width: 100vh;
  gap:

}
#caja1 {
  flex-wrap: wrap;
  justify-content: center;
  background: #33c6c6;
  align-content: center;
  width: 30%;
  height: 5%;
  margin:auto;
}
#caja2 {
  flex-wrap: wrap;
  justify-content: center;
  background: #e61010;
  width: 30%;
  height: 10%;
  margin-left: 30em;
}
.caja3 {
  flex-wrap: wrap;
  width: 50%;
  margin-left: 19em;
}
#caja4 {
  flex-wrap: wrap;
  width: 50%;
  margin:1em 0 0 19em; 
}
#caja5 {
  flex-wrap: wrap;
  width: 30%;
  margin-left:70em ; 
}
footer {
  border: solid gray 2px;
  background: white;
}
@media screen and (max-width: 320px) {
  section {
    flex-direction: column;
    background: blue;
  }
  #contenedor1 {
    flex-direction: column;
  }
  #contenedor2 {
    flex-direction: column;
    }

  nav {
    background: transparent;
  }

  nav ul {
    flex-direction: column;
  }
}
